<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio - Shyam v1</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/index.js" defer></script>
  </head>
  <body>
    <!-- HOME -->

    <!-- NAVBAR -->
    <!-- <div class="navbar">
        
        <a href="#" id="pf">Portfolio</a>

        <ul>
            <a href="#home"><li>Home</li></a>
            <a href="#about"><li>About Me</li></a>
            <a href="#exp"><li>Experience</li></a>
            <a href="#project"><li>Projects</li></a>
            <a href="#contact"><li>Contact</li></a>
        </ul>
    </div> -->

    <nav class="nav1">
      <div>
        <p class="Portfolio">Portfolio v1</p>
        <!-- <div class="cube-wrap">
          <div class="cube">
            <div class="side top"></div>
            <div class="side bottom"></div>
            <div class="side front"></div>
            <div class="side back"></div>
            <div class="side left"></div>
            <div class="side right"></div>
          </div>
        </div> -->
      </div>
      <div>
        <ul id="nav">
          <li><a href="#home" class="goto">Home</a></li>
          <li><a href="#about" class="goto">About Me</a></li>
          <li><a href="#exp" class="goto">Experience</a></li>
          <li><a href="#project" class="goto">Projects</a></li>
          <li><a href="#skills" class="goto">Skills</a></li>
        </ul>
      </div>
      <div class="menu" id="menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>

    <!-- END OF NAVBAR -->

    <!-- START OF HOME============================================= -->

    <div class="home" id="home">
      <!-- <p class="sectiontext">H<br>O<br>M<br>E</p> -->

      <div class="hero">
        <div class="herotext">
          <p class="name1">Hello World! My name is</p>
          <br />
          <p class="name2">Shyam Prasad M.</p>
          <br />
          <h1>And I'm a <span></span></h1>
          <br />
          <p class="content1">
            I'm an aspiring front-end developer passionate about front-end
            development, seeking a dynamic career in web development.
            <br /><br />
            I'm committed to crafting visually appealing and user-friendly
            websites, while continuously enhancing coding skills.
            <br />
          </p>
          <br />
          <br />
          <a href="mailto: shyamprasadmurugan@gmail.com" class="icon1"
            ><img src="/img/google2.png" alt="" class="icons"
          /></a>
          &nbsp;&nbsp;&nbsp;
          <a href="https://www.linkedin.com/in/shyam-prasad-m/" target="_blank" class="icon1"
            ><img src="/img/linkedin3.png" alt="" class="icons"
          /></a>
          &nbsp;&nbsp;&nbsp;
          <a href="https://github.com/PegaShyam" target="_blank" class="icon1">
            <img src="/img/github2.png" alt="" class="icons"/>
          </a>
        </div>
        <!-- <div class="heroimg">
                <img src="/img/rocket2.png" alt="cat" class="rocket">
            </div> -->
      </div>

      <!-- <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span> -->
    </div>
    <!-- END OF HOME -->

    <!-- ABOUT ME================================================= -->
    <div class="about" id="about">
      <div class="title1">
        <p>About Me</p>
        <hr class="hr1" />
      </div>

      <div class="aboutme2">
        <!-- <div class="face">
            <img src="/img/Shyam.png" alt="cat" class="cat">
          </div> -->

        <div class="description">
          <p class="aboutmetext">
            Hey! I got introduced to programming in my freshman year at The
            National Institute of Engineering, Mysore where I completed my
            Bachelor of Engineering (B.E) in Computer Science and Engineering (2019-2023) with 8.36 CGPA.
            <br /><br />
            I have been a Web Developer Intern at SmartKnower for 2 months and technical Intern at Newton School for 5 months.
            I've also participated in hackathons like iNeuron Hackathon, Onload 2.0, Reva Hackathon.
            <br><br>
            I'm striving to contribute creative solutions to enhance user
            experiences and collaborate within diverse tech teams to deliver
            exceptional digital products.
          </p>
        </div>
      </div>
    </div>
    <!-- END OF ABOUT ME -->

    <!-- EXPERIENCE================================================= -->
    <div class="exp" id="exp">
      <div class="title1">
        <p>Work Experience</p>
        <hr class="hr1" />
      </div>

      <div class="intern">
        <p class="interntitle">Internship - I / SmartKnower</p>
        <hr />
        <p class="internorg">March 2022 - April 2022</p>
        <ol class="internlist">
          <br />
          <li>
            Acquired hands-on proficiency in key programming languages,
            including HTML, CSS, and JavaScript, through comprehensive training.
          </li>
          <br />
          <li>
            Actively participated in the development of frontend components for
            various small-scale web projects over a productive 2-month period.
          </li>
        </ol>
      </div>

      <div class="intern">
        <p class="interntitle">Internship - II / Newton School</p>
        <hr />
        <p class="internorg">March 2023 - Jul 2023</p>
        <ol class="internlist">
          <br />
          <li>
            Designed and developed an Admin Dashboard and Organizational
            Dashboard within the application, utilizing EJS for seamless data
            presentation and management.
          </li>
          <br />
          <li>
            Successfully integrated an Article/Blog Section into the
            application, enhancing user engagement and content sharing.
          </li>
          <br />
          <li>
            Proficiently implemented an efficient and user-friendly Chatbox
            feature using socket technology, facilitating real-time
            communication.
          </li>
          <br />
          <li>
            Acquired valuable skills in time management while collaborating
            closely with the team, and actively contributed to code optimization
            and the creation of responsive designs.
          </li>
        </ol>
      </div>
    </div>
    <!-- END OF EXPERIENCE -->

    <!-- PROJECTS=================================================== -->
    <div class="project" id="project">
      <div class="title1">
        <p>Projects</p>
        <hr class="hr1" />
      </div>

      <div class="maincontainer">
        <h1 style="font-size: 45px;">Hover over the middle of the card.</h1>
        <div class="thecard">
          <div class="thefront1">
            <h1></h1>
            <!-- <p><img src="/img/cat.jpg" alt="" class="projlogo" /></p> -->
            <p class="cardtitle">Databay</p>
          </div>

          <div class="theback1">
            <h1>Databay</h1>
            <p>
              Designed to assist college faculty in effortlessly updating
              documents.
            </p>
            <a href="#3" class="icon1">
              <img src="/img/github2.png" alt="" class="icons" />
            </a>
          </div>
        </div>

        <div class="thecard">
          <div class="thefront1">
            <h1></h1>
            <!-- <p><img src="/img/CC logo.png" alt="" class="projlogo" /></p> -->
            <p class="cardtitle">Crop Connect</p>
          </div>

          <div class="theback1">
            <h1>Crop Connect</h1>
            <p>
              An Automated ML model for Crop Recommendation and Yield
              Prediction.
            </p>
            <a href="#4" class="icon1">
              <img src="/img/github2.png" alt="" class="icons" />
            </a>
          </div>
        </div>

        <div class="thecard">
          <div class="thefront1">
            <h1></h1>
            <!-- <p><img src="/img/foodify6.png" alt="" class="projlogo" /></p> -->
            <p class="cardtitle">Foodify</p>
          </div>

          <div class="theback1">
            <h1>Foodify</h1>
            <p>A Food Delivery App with ordering and shopping cart features.</p>
            <a href="#5" class="icon1">
              <img src="/img/github2.png" alt="" class="icons" />
            </a>
          </div>
        </div>

        <div class="thecard">
          <div class="thefront1">
            <h1></h1>
            <p class="cardtitle">Employee MS</p>
          </div>

          <div class="theback1">
            <h1>Employee MS</h1>
            <p>
              Developed an application for efficient employee data management
              with CRUD and filter operations.
            </p>
            <a href="#6" class="icon1">
              <img src="/img/github2.png" alt="" class="icons" />
            </a>
          </div>
        </div>

        <div class="thecard">
          <div class="thefront1">
            <h1></h1>
            <p class="cardtitle">Dynamic Weather App</p>
          </div>

          <div class="theback1">
            <h1>Weather App</h1>
            <p>
              A dynamic weather application that uses real time API to track
              weather details and display it with search functionality.
            </p>
            <a href="#3" class="icon1">
              <img src="/img/github2.png" alt="" class="icons" />
            </a>
          </div>
        </div>

        <div class="thecard">
          <div class="thefront1">
            <h1></h1>
            <p class="cardtitle">To Do List</p>
          </div>

          <div class="theback1">
            <h1>To Do List</h1>
            <p>An app that holds the activities that must be done.</p>
            <a href="#3" class="icon1">
              <img src="/img/github2.png" alt="" class="icons" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF PROJECTS -->

    <!-- SKILLS================================================== -->
    <div class="skills" id="skills">
      <div class="title1">
        <p>Skills</p>
        <hr class="hr1" />
      </div>

      <ol class="skill_list">
        <li>Figma</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>NodeJS</li>
        <li>ExpressJS</li>
        <li>EJS</li>
        <li>ReactJS</li>
        <li>MongoDB</li>
        <li>Django</li>
      </ol>
    </div>
    <!-- END OF SKILLS -->

    <!-- START OF FOOTER========================================= -->

    <footer class="footer-distributed">
      <div class="footer-left">
        <p class="Portfolio1">Portfolio</p>

        <p class="footer-links">My career in a single page.</p>

        <p class="footer-company-name">Non-Responsive Design (For Now) | 2023</p>

        <p style="color: rgb(255, 255, 255); font-weight: 600;">EmailID : shyamprasadmurugan@gmail.com</p>
      </div>

      <div class="footer-center">
        <div>
          <p><span>Created by :</span><br />Shyam Prasad M</p>
        </div>
      </div>

      <div class="footer-right">
        <p class="footer-company-about">
          <span>My Socials</span>
          Send me an email or checkout my Linkedin / GitHub.
        </p>

        <div class="footer-icons">
          <a href="mailto: shyamprasadmurugan@gmail.com" class="icon1"
            ><img src="/img/google2.png" alt="" class="icons"
          /></a>
          &nbsp;&nbsp;&nbsp;
          <a href="https://www.linkedin.com/in/shyam-prasad-m/" target="_blank" class="icon1"
            ><img src="/img/linkedin3.png" alt="" class="icons"
          /></a>
          &nbsp;&nbsp;&nbsp;
          <a href="https://github.com/PegaShyam" target="_blank" class="icon1">
            <img src="/img/github2.png" alt="" class="icons"/>
          </a>
        </div>
      </div>
    </footer>

    <!-- END OF FOOTER -->
  </body>
</html>
